<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador de Excel</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Cuentas de Gastos Ambientales 2023</h1>
    </header>

    <div class="container">
        <form action="/upload/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="fileUpload" required>
            <button type="submit">Subir y Analizar</button>
            <a href="/reset/" class="reset-button">Limpiar y Resetear</a>
        </form>

        {% if error_message %}
        <div class="error-message">
            <p>{{ error_message }}</p>
        </div>
        {% endif %}


        {% if tables %}
        <div class="tables-section">
            {% for table in tables %}
            <div class="table-container">
                <h2>{{ table.title }}</h2>
                {{ table.data | safe }}
            </div>
            {% endfor %}
        </div>
        <div class="plot-section">
            <h2>Gráfico Generado</h2>
            <img src="{{ plot_url }}" alt="Gráfico de Análisis">
        </div>
        {% endif %}

        <!-- Botón de descarga -->
        <div class="download-section">
            {% if download_url %}
            <a href="{{ download_url }}" class="download-button enabled">Descargar Excel</a>
            {% else %}
            <a href="#" class="download-button disabled" onclick="return false;">Descargar Excel</a>
            {% endif %}
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Análisis Empresarial</p>
    </footer>

    <script src="{{ url_for('static', path='/script.js') }}"></script>

</body>

</html>